/* #region hero */

.hero-faq {
  padding: 0 15px;
}

.hero-faq .container {
  padding: 15px;
  background-color: #034833cc;
  border-radius: 50px;
}

.hero-faq .item {
  max-width: 924px;
  height: 462px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-faq .item h1 {
  color: #FFF;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 90px;
  text-align: left;
  margin-bottom: 8px;
}

.hero-faq .item h6 {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px
}


@media (max-width: 435px) {

  .hero-faq .item h1 {
    font-size: 60px;
  }

  .hero-faq .item {
    height: 250px;
  }

}

@media (max-width: 345px) {

  .hero-faq .item h1 {
    font-size: 50px;
  }

}

/* #endregion hero */


/* #region hero */

.AAccordion {
  padding: 100px 0;
}

.AAccordion .row {
  row-gap: 30px;
}

#accordionFlushExample {
  display: flex;
  gap: 30px;
}

.accordion-flush > .accordion-item {
  padding: 0;
  display: flex;
  max-width: 630px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
  width: 48%;
}

.accordion-header {
  width: 100%;
}

.accordion-body {
  padding: 24px 30px;
  background: var(--100, #F1F5EB);
}

.accordion-button {
  padding: 0;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button {
  padding: 24px 30px;
}

.accordion-button:not(.collapsed) {
  background-color: var(--100, #F1F5EB);
  box-shadow: none;
}

.accordion-button::after {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: var(--bs-accordion-btn-active-icon);
  background-position: center;
  background-repeat: no-repeat;
}

.accordion-button:not(.collapsed)::after {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #83CD20;
  background-image: var(--bs-accordion-btn-active-icon);
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 435px) {



}

@media (max-width: 345px) {



}

/* #endregion hero */
